body {
    background-color: white;
    color: black;
    box-sizing: border-box;
}

footer {
    margin-top: 3%;
}

.calculadora {
    padding: inherit;
    width: 35%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.pantalla {
    font-size: 2rem;
    background-color: #252525;
    color: #fff;
    text-align: right;
    border: outset black;
}

.botones {
    padding: 2% 5% 10% 5%;
    color:black;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 3%;
    grid-column-gap: 5%;
    border: outset green;
}

.boton {
    padding: 10% 0%;
    background-color: rgb(255, 255, 255);
    color: black;
}

.operacion {
    background-color: rgb(168, 5, 5);
    color: white;
}

.calc {
    background-color: rgb(5, 114, 14);
    color: white;
}